<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book App</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="email" placeholder="your e-mail">
        <input type="text" name="pass" placeholder="your password">
        <button type="submit">Submit</button>
    </form>
    {{ message }}
</body>
</html>